<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BaconFrame</title>
        <meta name="description" content="Make your site sizzle!">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/modernizr.js"></script>
    </head>
    <body>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
        <script src="js/vendor.js"></script>
        <script src="js/main.js"></script>

        <script>
            (function(b,a,c,o,n,f){b.GoogleAnalyticsObject=o;b[o]||(b[o]=
            function(){(b[o].q=b[o].q||[]).push(arguments)});b[o].o=+new Date;
            n=a.createElement(c);f=a.getElementsByTagName(c)[0];
            n.src='//www.google-analytics.com/analytics.js';
            f.parentNode.insertBefore(n,f)}(window,document,'script','ga'));
            ga('create','UA-48883860-1');ga('send','pageview');
        </script>
    </body>
</html>